#left, #right { 
    margin-bottom: 90px; 
}

.cont{
  margin-top:10%;
  text-align: center;
  padding-bottom: 300px;
}

.line{
  margin-top:8px;
}

label{
  display: inline-block;
  text-align: left;
  width: 7%;
}
