<!DOCTYPE html>
<html lang="en">

Hello


{
  "transactionIdentifier": "368c07ac-3c9e-41b0-8cc9-9f3405e37fb1",
  "messageIdentifier": "5feff82f-4603-4996-a0e6-bf105654f2b3",
  "messageDateTime": "2015-11-19T20:14:33.651Z",
  "messageSequenceIdentifier": "1",
  "requestorInfo": {
    "serverIdentifier": "local",
    "componentIdentifier": "***"
  },
  "getAccountDetailRequest": {
    "getAccountDetail": {
      "accountKeyIdentifier": {
        "operatingCompanyIdentifier": "125",
        "productCode": "CHX",
        "primaryIdentifier": "4444444444444444"
      },
      "returnFiveStarPackageCodeSwitch": "true",
      "includeAddressSwitch": "true"
    }
  }
}

</html>