<!DOCTYPE html>
<html lang="en">
<head>
  <title>4Sight</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.simplify.com/commerce/v1/simplify.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" ><img src="../static/SmallIcon.png" style="width:37px;"></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/loans">Loans</a></li>
        <li><a href="/invoice">Make Invoice</a></li>
        <li><a href="/logout">Logout</a></li>
        {% if user %}
        <li style="margin-left:380px; margin-top:15px;">Hello, {{user}}! </li>
        {% endif %}
      </ul>
    </div>
  </nav>
    <h1>Loan</h1>
    <hr/>
    <div class="box-body">
       <div class="table-responsive">
          <table class="table no-margin">
             <thead>
                <tr>
                   <th>Recurring Vendor</th>
                   <th>Account Recievable</th>
                   <th>Risk Status</th>
                   <th>Haircut</th>
                   <th>Loan</th>
                </tr>
             </thead>
             <tbody>
              {% for loan in loans %}
                <tr>
                   <td><a href="pages/examples/invoice.html">{{loan.Vendor}}</a></td>
                   <td>${{ loan.AccountRecievable}}</td>
                   <td>{{ loan.Score}} </td>
                   <td>{{ loan.Haircut }}%</td>
                   <td>${{ loan.Loan }}</td>
                </tr>
              {%endfor %}
              <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td>Total Potential Loan </td>
              <td> ${{total}}</td>
              </tr>

             </tbody>
          </table>
       </div>
       <!-- /.table-responsive -->
    </div>
    <br>
    <form id="simplify-payment-form" action="/make_loan" method="POST" style="width:50%">
            <h2> Business Loan </h2>
            <div class="form-group" ng-app="" >
                <label for="email">Amount Borrow:</label>
                <!--<span>$</span><input type="number" style="border-radius:5px; height:33px;" min="0.01" step="0.01" max="2500" value="0.00" name="amount" ng-model="amount">-->
                <input type="text" ng-model="amount">
                of ${{total}}
            </div>
            <div class="form-group" ng-app="" > 
              <label for="email">Interest Rate:</label><p ng-bind="amount/{{total}}"></p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope) {
          $scope.amount;
          $scope.interest;
      });
    </script>
</div>
</body>
</html>